* {
  margin: 0;
  padding: 0;
}
* body {
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
  font-size: 16px;
  line-height: 19px;
  background: #251e1e;
}
* body .container {
  margin: 0 5rem;
}
* body #navigation .nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px #5a5a5a;
}
* body #navigation .nav-container .logo {
  background: #fa582a;
  margin-bottom: -3rem;
  padding: 3rem;
  width: max-content;
  text-align: center;
  color: #ffffff;
}
* body #navigation .nav-container .logo h3 {
  text-transform: uppercase;
  padding-top: 0.5rem;
  font-weight: normal;
}
* body #navigation .nav-container .nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-top: 3rem;
}
* body #navigation .nav-container .nav ul li {
  width: max-content;
  color: #ffffff;
  padding: 0.5rem;
}
* body #navigation .nav-container .nav ul li p {
  padding: 0.5rem;
  white-space: nowrap;
}
* body #navigation .nav-container .nav ul li .form {
  display: none;
}
* body #navigation .nav-container .nav ul li:last-of-type {
  display: flex;
  flex-direction: row;
}
* body #navigation .nav-container .nav ul li:last-of-type img {
  padding-left: 0.5rem;
}
* body #navigation .nav-container .nav ul li:hover {
  border: solid 1px #5a5a5a;
}
* body #navigation .nav-container .nav ul li:first-of-type:hover {
  position: relative;
}
* body #navigation .nav-container .nav ul li:first-of-type:hover .form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 63px;
  border: 1px solid #5a5a5a;
  padding: 2rem;
  margin-left: -0.5rem;
  z-index: 999;
}
* body #navigation .nav-container .nav ul li:first-of-type:hover .form input {
  padding: 1rem;
  border-radius: 10px;
  border: transparent;
  margin-bottom: 1rem;
}
* body #navigation .nav-container .nav ul li:first-of-type:hover .form button {
  padding: 1rem;
  border-radius: 10px;
  border: transparent;
}
* body #navigation .nav-container .nav ul li:first-of-type:hover .form button:hover {
  color: #fa582a;
}
* body #main-content {
  margin-top: 47px;
  position: relative;
}
* body #main-content .img {
  display: flex;
  height: 90vh;
  justify-content: right;
  margin-right: 0;
  animation: ani 1s forwards;
}
@keyframes ani {
  0% {
    margin-right: -30rem;
  }
  100% {
    margin-right: 0;
  }
}
* body #main-content #sidebar {
  position: absolute;
  left: 5rem;
  top: 5rem;
}
* body #main-content #sidebar ul {
  list-style: none;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
* body #main-content #sidebar ul li {
  padding: 1rem 0;
}
* body #main-content #sidebar ul li a {
  text-decoration: none;
  color: #ffffff;
}
* body #main-content #sidebar ul li:hover a {
  color: #fa582a;
}
* body #main-content #showcase {
  position: absolute;
  left: 5rem;
  top: 35rem;
}
* body #main-content #showcase .showcase-container {
  max-width: 600px;
}
* body #main-content #showcase .showcase-container .btn {
  background: #fa582a;
  width: max-content;
  padding: 0.5rem;
  color: #ffffff;
}
* body #main-content #showcase .showcase-container .btn:hover {
  animation: vis 0.2s;
}
@keyframes vis {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* body #main-content #showcase .showcase-container h1 {
  font-size: 3rem;
  line-height: 4rem;
  color: #ffffff;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
* body #main-content #showcase .showcase-container p {
  font-size: 1.2rem;
  line-height: 2rem;
  color: #ffffff;
}
* body #main-content #showcase .showcase-container .progect-imgs {
  width: 100%;
}
* body #main-content #showcase .showcase-container .progect-imgs img {
  padding: 2rem 2rem 2rem 0;
  width: 40%;
}
* body #main-content #about-us {
  background: #ffffff;
  padding-top: 10rem;
  padding-bottom: 10rem;
}
* body #main-content #about-us .about-us-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
* body #main-content #about-us .about-us-container .about-us-text {
  position: relative;
  padding: 2rem 2rem 2rem 0;
}
* body #main-content #about-us .about-us-container .about-us-text .category {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  writing-mode: vertical-rl;
  justify-content: center;
  align-items: stretch;
  text-align: justify;
  min-height: 100%;
  padding: 2rem;
  font-size: 2.5rem;
  color: #5a5a5a;
  letter-spacing: 20px;
}
* body #main-content #about-us .about-us-container .about-us-text .info {
  margin-left: 7rem;
  margin-right: 3rem;
}
* body #main-content #about-us .about-us-container .about-us-text .info h2 {
  padding: 2rem 0;
}
* body #main-content #about-us .about-us-container .about-us-text .info p {
  line-height: 1.5rem;
  padding-bottom: 2rem;
}
* body #main-content #about-us .about-us-container .about-us-text .info .btn {
  background: #251e1e;
  color: #ffffff;
  text-transform: uppercase;
  width: max-content;
  padding: 0.5rem;
}
* body #main-content #about-us .about-us-container .about-us-text .info .btn:hover {
  animation: vis 0.1s;
}
@keyframes vis {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* body #main-content #about-us .about-us-container .about-us-img {
  width: 100%;
  display: flex;
}
* body #main-content #about-us .about-us-container .about-us-img img {
  margin: 0 auto;
}
* body #main-content #exclusive {
  background: #ffffff;
  padding: 5rem 0;
}
* body #main-content #exclusive h3 {
  text-align: center;
  color: #fa582a;
  font-weight: normal;
}
* body #main-content #exclusive h1 {
  line-height: 2.5rem;
  text-align: center;
  font-size: 2rem;
  padding: 2rem 0 3rem 0;
}
* body #main-content #exclusive .blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
* body #main-content #exclusive .blocks .block {
  position: relative;
}
* body #main-content #exclusive .blocks .block img {
  width: 100.2%;
  height: 100.2%;
}
* body #main-content #exclusive .blocks .block .btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  margin: 1rem;
  background: #ffffff;
}
* body #main-content #exclusive .blocks .block .block-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  margin: 1rem;
  color: #ffffff;
  max-width: 50%;
}
* body #main-content #exclusive .blocks .block .block-text h3 {
  padding-bottom: 1rem;
  color: #ffffff;
  text-align: left;
}
* body #main-content #exclusive .btn {
  background: #251e1e;
  padding: 0.5rem;
  width: max-content;
  margin: 3rem auto;
}
* body #main-content #exclusive .btn p {
  color: #ffffff;
  text-transform: uppercase;
}
* body #main-content #exclusive .btn:hover {
  animation: vis 0.2s;
}
@keyframes vis {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* body #main-content #our-projects {
  background: #ffffff;
}
* body #main-content #our-projects .our-projects-container {
  background: #251e1e;
  display: flex;
  flex-direction: row;
}
* body #main-content #our-projects .our-projects-container .explane {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
* body #main-content #our-projects .our-projects-container .explane p {
  color: #ffffff;
}
* body #main-content #our-projects .our-projects-container .project-blocks {
  padding: 5rem;
  width: 75%;
}
* body #main-content #our-projects .our-projects-container .project-blocks .block {
  background: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  margin-bottom: 2rem;
  width: 100%;
}
* body #main-content #our-projects .our-projects-container .project-blocks .block .project-img img {
  width: 100%;
  height: 100.2%;
}
* body #main-content #our-projects .our-projects-container .project-blocks .block .project-text {
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
* body #main-content #our-projects .our-projects-container .project-blocks .block .project-text h3 {
  padding-bottom: 1rem;
}
* body #main-content #signing {
  background: #ffffff;
}
* body #main-content #signing .signing-container {
  color: #ffffff;
  display: flex;
  background: url("../signing.png") no-repeat center center/cover;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}
* body #main-content #signing .signing-container h2 {
  padding-top: 15rem;
  font-size: 32px;
  line-height: 38px;
  padding-bottom: 5rem;
}
* body #main-content #signing .signing-container .btn {
  border: solid 1px #5a5a5a;
  text-transform: uppercase;
  padding: 0.5rem;
  width: max-content;
  margin: 3rem auto;
}
* body #main-content #signing .signing-container .btn a {
  text-decoration: none;
  color: #ffffff;
}
* body #main-content #signing .signing-container .btn:hover {
  animation: vis 0.2s;
}
* body #main-content #signing .signing-container .btn:hover a {
  color: #fa582a;
}
@keyframes vis {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* body #contacts {
  background: #ffffff;
}
* body #contacts .contacts-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5rem 0;
}
* body #contacts .contacts-container .adress h2 {
  padding-bottom: 3rem;
}
* body #contacts .contacts-container .adress p {
  padding-bottom: 1rem;
}
* body #contacts .contacts-container .privecy ul {
  list-style: none;
}
* body #contacts .contacts-container .privecy ul li {
  padding-bottom: 1rem;
}
* body #contacts .contacts-container .privecy ul li a {
  text-decoration: none;
  color: #251e1e;
}
* body #contacts .contacts-container .social {
  text-align: right;
}
* body #contacts .contacts-container .social h4 {
  padding-bottom: 3rem;
}
* body #contacts .contacts-container .social a {
  color: #251e1e;
  padding-left: 1rem;
}
* body #contacts .contacts-container .social a:hover {
  color: #fa582a;
}
* body #footer {
  background: #ffffff;
}
* body #footer .footer-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}
* body #footer .footer-container .logo {
  background: #fa582a;
  width: max-content;
  padding: 2.5rem;
  text-align: center;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
}
* body #footer .footer-container .back-btn {
  text-align: center;
  padding-right: 15rem;
  width: 100%;
  padding-bottom: 4rem;
}
* body #footer .footer-container .back-btn i {
  color: #251e1e;
}

/*# sourceMappingURL=homeid_full.css.map */
