 $dark-background: #251e1e;
 $bright-background: #fa582a;
 $light-background: #ffffff;
 $light-text: #ffffff;
 $grey-text: #5a5a5a;
* {
  margin: 0;
  padding: 0;

  body {
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
    font-size: 16px;
    line-height: 19px;
    background: $dark-background;
    .container {
      margin: 0 5rem;
    }
    #navigation {
      .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: solid 1px $grey-text;
        .logo {
          background: $bright-background;
          margin-bottom: -3rem;
          padding: 3rem;
          width: max-content;
          text-align: center;
          color: $light-text;
          h3 {
            text-transform: uppercase;
            padding-top: 0.5rem;
            font-weight: normal;
          }
        }
        .nav {

          ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            padding-top: 3rem;
            li {
              width: max-content;
              color: $light-text;
              padding: 0.5rem;
              p {
                padding: 0.5rem;
                white-space: nowrap;
              }
              .form {
                display: none;
              }
            }
            li:last-of-type {
              display: flex;
              flex-direction: row;
              img {
                padding-left: 0.5rem;
              }
            }
            li:hover {
              border: solid 1px $grey-text;
            }
            li:first-of-type:hover {
              position: relative;
               .form {
                 display: flex;
                 flex-direction: column;
                 position: absolute;
                 top: 63px;
                 border: 1px solid $grey-text;
                 padding: 2rem;
                 margin-left: -0.5rem;
                 z-index: 999;
                  input {
                    padding: 1rem;
                    border-radius: 10px;
                    border: transparent;
                    margin-bottom: 1rem;
                  }
                 button {
                   padding: 1rem;
                   border-radius: 10px;
                   border: transparent;
                 }
                 button:hover {
                   color: $bright-background;
                 }
               }
            }
          }
        }
      }
    }
    #main-content {
     margin-top: 47px;
      position: relative;

      .img {
        display: flex;
        height: 90vh;
        justify-content: right;
        margin-right: 0;
        animation: ani 1s forwards;
        @keyframes ani {
          0% {
            margin-right: -30rem;
          }
          100% {
            margin-right: 0;
          }
        }
      }
      #sidebar {
        position: absolute;
        left: 5rem;
        top: 5rem;
        ul {
          list-style: none;
          color: $light-text;
          font-size: 1.2rem;
          line-height: 1.5rem;
          li {
            padding: 1rem 0;
          }
          li:hover {
            color: $bright-background;
          }
        }
      }
      #showcase {
        position: absolute;
        left: 5rem;
        top: 35rem;
        .showcase-container {
          max-width: 600px;
          .btn {
            background: $bright-background;
            width: max-content;
            padding: 0.5rem;
            color: $light-text;
          }
          .btn:hover {
            animation: vis 0.1s;
            @keyframes vis {
              0% {
                opacity: 1;
              }
              100% {
             opacity: 0;
              }
            }
          }
          h1 {
            font-size: 3rem;
            line-height: 4rem;
            color: $light-text;
            padding-bottom: 2rem;
            padding-top: 2rem;
          }
          p {
            font-size: 1.2rem;
            line-height: 2rem;
            color: $light-text
          }
          .progect-imgs {
            width: 100%;
            img {
              padding: 2rem 2rem 2rem 0;
              width: 40%;
            }
          }
        }
      }
      #about-us {
        background: $light-background;
        padding-top: 10rem;
        padding-bottom: 10rem;
        .about-us-container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          .about-us-text {
            position: relative;
             padding: 2rem 2rem 2rem 0;
            .category {
              text-transform: uppercase;
              position: absolute;
              top: 0;
              left: 0;
              display: flex;
              writing-mode: vertical-rl;
              justify-content: center;
              align-items: stretch;
              text-align: justify;
              min-height: 100%;
              padding: 2rem;
              font-size: 2.5rem;
              color: $grey-text;
              letter-spacing: 20px;

            }
            .info {
              margin-left: 7rem;
              margin-right: 3rem;
              h2 {
                padding: 2rem 0;
              }
              p {
                line-height: 1.5rem;
                padding-bottom: 2rem;
              }
              .btn {
                background: $dark-background;
                color: $light-text;
                text-transform: uppercase;
                width: max-content;
                padding: 0.5rem;
              }
                .btn:hover {
                  animation: vis 0.1s;
                  @keyframes vis {
                    0% {
                      opacity: 1;
                    }
                    100% {
                      opacity: 0;
                    }
                }
              }
            }
          }
          .about-us-img {
            width: 100%;
            display: flex;
             img {
               margin: 0 auto;
             }
          }
        }
      }
      #exclusive {
        background: $light-background;
        padding: 5rem 0;
        h3 {
          text-align: center;
          color: $bright-background;
          font-weight: normal;
        }
        h1 {
          line-height: 2.5rem;
          text-align: center;
          font-size: 2rem;
          padding: 2rem 0 3rem 0;
        }
        .blocks {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          .block {
            position: relative;
            img {
              width: 100.2%;
              height: 100.2%;

            }
            .btn {
              position: absolute;
              top: 0;
              right: 0;
              padding: 0.5rem;
              margin: 1rem;
              background: $light-background;
            }

            .block-text {
              position: absolute;
              bottom: 0;
              left: 0;
              padding: 1rem;
              margin: 1rem;
              color: $light-text;
              max-width: 50%;
              h3 {
                padding-bottom: 1rem;
                color: $light-text;
                text-align: left;
              }

            }
          }
        }
        .btn {
          background: $dark-background;
          padding: 0.5rem;
          width: max-content;
          margin: 3rem auto;
          p {
            color: $light-text;
            text-transform: uppercase;
          }
        }
        .btn:hover {
          animation: vis 0.2s;
          @keyframes vis {
            0% {
              opacity: 1;
            }
            100% {
              opacity: 0;
            }
          }
        }
      }
      #our-projects {
        background: $light-background;
        .our-projects-container {
          background: $dark-background;
          display: flex;
          flex-direction: row;
          .explane {
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 3rem;

            p {
              color: $light-text;
            }
          }
          .project-blocks {
            padding: 5rem;
            width: 75%;


            .block {
              background: $light-background;
              display: grid;
              grid-template-columns: 1fr 1.3fr;
              margin-bottom: 2rem;
              width: 100%;

              .project-img {
                img {
                  width: 100%;
                  height: 100.2%;
                }
              }
              .project-text {
                padding: 5rem 3rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: left;
                h3 {
                  padding-bottom: 1rem;
                }
              }
            }
          }
        }
      }
      #signing {
        background: $light-background;
        .signing-container {
          color: $light-text;
          display: flex;
          background: url("../signing.png") no-repeat center center/cover;
          height: 100vh;
          flex-direction: column;
          text-align: center;
          h2 {
            padding-top: 15rem;
            font-size: 32px;
            line-height: 38px;
            padding-bottom: 5rem;
          }
          .btn {
            border:  solid 1px $grey-text;
            text-transform: uppercase;
            padding: 0.5rem;
            width: max-content;
            margin: 3rem auto;
            a {
              text-decoration: none;
              color: $light-text;
            }

        }
          .btn:hover {
            animation: vis 0.2s;
            a {
              color: $bright-background;
            }
            @keyframes vis {
              0% {
                opacity: 1;
              }
              100% {
                opacity: 0;
              }
            }
          }
      }
    }
  }
    #contacts {
      background: $light-background;
      .contacts-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5rem 0;
        .adress {
          h2 {
            padding-bottom: 3rem;
          }
          p {
            padding-bottom: 1rem;
          }
        }
        .privecy {
          ul {
            list-style: none;
            li {
              padding-bottom: 1rem;
              a {
                text-decoration: none;
                color: $dark-background;
              }
            }
          }
        }
        .social {
          text-align: right;
          h4 {
            padding-bottom: 3rem;
          }
          a {
            color: $dark-background;
            padding-left: 1rem;
          }
          a:hover {
            color: $bright-background;
          }
        }

      }
    }
    #footer {
      background: $light-background;
      .footer-container {
      display: flex;
      flex-direction: row;
      width: 100%;
        position: relative;
      .logo {
        background: $bright-background;
        width: max-content;
        padding: 2.5rem;
        text-align: center;
        color: $light-text;
        position: absolute;
        bottom: 0;
        left: 0;

      }
      .back-btn {
        text-align: center;
        padding-right: 15rem;
        width: 100%;
        padding-bottom: 4rem;
        i {
          color: $dark-background;
        }
      }
      }
    }
}
}